{% extends 'base.html' %}

{% block content %}
    <div class="post">
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">Edit</a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}">Delete</span></a>
        {% endif %}
        <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>        
        <div class="date">
            {{ post.updated_date }}
        </div>

        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    <hr>
    {% for comment in post.comments.all %}
        <div class="comment">
        <strong>{{ comment.author }}</strong>
            {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'edit_comment_to_post' post_pk=post.pk pk=comment.pk %}">Edit</a>
                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            {% endif %}
            <p>{{ comment.text|linebreaks }}</p>
            <div class='date'>
            {{ comment.updated_date }}
            </div>
        </div>
    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}
{% endblock %}