{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}"> -->
        <link rel="shortcut icon" href="{% static 'blog/image/title.ico' %}" type="image/x-icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">        

    </head>
    <body>
        <div class="jumbotron text-center" style="margin-bottom:0">
            <h1 class="display-4">Hello, Django</h1>
            <p class="lead">This website is my project</p>
        </div>
            
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'post_list' %}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            {% if not user.is_authenticated %}
                                <a class="navbar-right" href="/admin/">Login</a>
                            {% else %}
                                <a class="navbar-right" href="/admin/logout/">Logout</a>
                            {% endif %}
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% if user.is_authenticated %}
                        <a href="{% url 'post_new' %}">
                            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden=true></span></button>
                        </a>
                        <a href="{% url 'post_draft_list' %}">
                            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden=true></span></button>
                        </a>
                    {% endif %}
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <!-- <h2>Bottom Modal</h2>
        <button id="myBtn">Open Modal</button>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>Modal Header</h2>
                </div>
                <div class="modal-body">
                    <p>Some text in the Modal Body</p>
                    <p>Some other text...</p>
                </div>
                <div class="modal-footer">
                    <h3>Modal Footer</h3>
                </div>
            </div>
        </div> -->
        <!-- <script src="{% static 'blog/js/modal.js' %}"></script> -->
    </body>
</html>